# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [43]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [44]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipo = pd.read_csv(url, sep="\t")

# sep = "\t" is used for .tsv file to separate columns, for .cvs file, no need to write

### Step 4. See the first 10 entries

In [45]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [46]:
# Solution 1

chipo.shape[0]

4622

In [47]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [48]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [49]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [50]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [51]:
c = chipo.groupby("item_name").sum().sort_values("quantity", ascending=False)
c[["order_id", "quantity"]].head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [52]:
c["quantity"].head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [53]:
c1 = chipo.groupby("choice_description").sum().sort_values("quantity", ascending=False)
c1.head(1)

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

### Step 12. How many items were orderd in total?

In [54]:
total_ordered_items = chipo.quantity.sum()
total_ordered_items

np.int64(4972)

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [55]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [56]:
# Solution 1 
# dollarizer = lambda x: float(x[1:-1])
# chipo.item_price = chipo.item_price.apply(dollarizer)

In [60]:
# Solution 2 
chipo["item_price"] = chipo["item_price"].str.replace("$", "", regex=False).astype(float)

#### Step 13.c. Check the item price type

In [61]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [59]:
total_revenue = (chipo["quantity"]*chipo["item_price"]).sum()
print("Revenue was: $" + str(np.round(total_revenue, 2)))

UFuncTypeError: ufunc 'multiply' did not contain a loop with signature matching types (dtype('<U31146'), dtype('float64')) -> None

### Step 15. How many orders were made in the period?

In [ ]:
num_orders = chipo["order_id"].nunique()
num_orders

1834

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1

chipo["revenue"] = chipo["item_price"] * chipo["quantity"]
chipo.groupby("order_id")["revenue"].sum().mean()

#.sum(): 先算每一单的总收入
#.mean(): 再算这些订单总收入的平均值

np.float64(21.39423118865867)

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [ ]:
num_items = chipo["item_name"].nunique()
num_items

50